<p id="notice"><%= notice %></p>

<p>
  <strong>Tags:</strong>
  <%= @quote.tags %>
</p>

<p>
  <strong>Conteudo:</strong>
  <%= @quote.conteudo %>
</p>

<p>
  <strong>Link origem:</strong>
  <%= @quote.link_origem %>
</p>

<%= link_to 'Edit', edit_quote_path(@quote) %> |
<%= link_to 'Back', quotes_path %>
